KinveyFlexUserPermissionsCreateNeverService/node_modules
KinveyFlexUserPermissionsCreateNeverService/package-lock.json
KinveyFlexUserPermissionsCreateNeverService/.kinvey
KinveyFlexUserPermissionsCreateNeverService/output.log